@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
/*  custom proparti for CSS */
:root {
  --shadow-1: 13px 14px 19px 0px rgba(65,41,255,0.68);
  --shadow-2: 13px 14px 19px 0px rgba(255,36,36,0.68);
  --shadow-3: 6px 6px 19px 0px rgba(13,37,41,0.68);
}

/* Basic reseting for unuseing any fremwork */
* {
  margin: 0;
  padding: 0;
}

/*  sign "*" star/multiple define all tag in HTML */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: poppins;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.w-header {
  position: fixed;
  width: 100%;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 3px solid #464646;
  background-color: #131313;
  color: #fff;
  height: 10vh;
  clear: both;
  top: 0;
}

.w-header .logo img {
  height: 40px;
  margin-left: 5px;
  padding: 5px 0;
}

.main-contetn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  top: 72px;
}

.main-contetn .left-body {
  background-color: #3c434a;
  min-width: 240px;
  max-width: 250px;
  height: 90vh;
  top: 55px;
  left: 0;
  overflow-y: scroll;
  clear: both;
}

.main-contetn .left-body .left-body-menu {
  margin-left: 3px;
}

.main-contetn .left-body .left-body-menu ul li a {
  color: #fff;
  font-size: 13px;
  line-height: 1.4em;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  position: relative;
  overflow: hidden;
}

.main-contetn .left-body .left-body-menu ul li a i {
  margin-right: 3px;
}

.main-contetn .left-body .left-body-menu ul li a.active {
  background-color: #171a1d;
}

.main-contetn .left-body .left-body-menu ul li a.activeCM {
  background-color: #171a1d;
}

.main-contetn .left-body .left-body-menu ul li a:hover {
  background-color: #324e68;
}

.main-contetn .left-body .left-body-menu ul li a.dd-item::before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 16px;
  display: block;
}

.main-contetn .left-body .left-body-menu ul li a.dd-item.active::before {
  content: '\f077';
}

.main-contetn .left-body .left-body-menu ul li ul li a {
  color: #df5555;
  font-size: 13px;
  line-height: 1.4em;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  margin-left: 10px;
  overflow: hidden;
}

.main-contetn .left-body .left-body-menu ul li ul li a.active {
  background-color: #171a1d;
}

.main-contetn .left-body .left-body-menu ul li ul li a::before {
  content: "";
}

.main-contetn .left-body .left-body-menu ul li .dropdwon {
  height: 0;
  overflow: hidden;
}

.main-contetn .left-body .left-body-menu ul li .dropdwon.active {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-contetn .contetnt-body {
  width: auto;
}

.main-contetn .contetnt-body .tab-pen {
  display: none;
  padding-left: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 80vh;
}

.main-contetn .contetnt-body .tab-pen h3 {
  text-align: center;
  font-size: 36px;
}

.main-contetn .contetnt-body .tab-pen p {
  color: #000;
}

.main-contetn .contetnt-body .tab-pen.activeFP {
  display: inline-block;
}

.bg_info {
  background-color: #c9c98b;
}

.bg_succ {
  background-color: #468540;
}

.bg_dan {
  background-color: #a75656;
}

.bg_lite {
  background-color: #8f6897;
}

.bg_sky {
  background-color: #467591;
}
/*# sourceMappingURL=style.css.map */