
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
/*  custom proparti for CSS */
:root {
  --shadow-1: 13px 14px 19px 0px rgba(65,41,255,0.68);
  --shadow-2: 13px 14px 19px 0px rgba(255,36,36,0.68);
  --shadow-3: 6px 6px 19px 0px rgba(13,37,41,0.68);
}

/* Basic reseting for unuseing any fremwork */
* {
  margin: 0;
  padding: 0;
}

/*  sign "*" star/multiple define all tag in HTML */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: poppins;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}


.w-header {

    
    position: fixed;
    width: 100%;
    z-index: 50;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // // display: flex;
    // box-align: center;
    // -ms-flex-align: center;
    // -webkit-box-align: center;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 3px solid #464646;
    background-color: #131313;
    color: #fff;
    height: 10vh;
    clear: both;
    top: 0;

    
    .logo {

        img {
            height: 40px;
            margin-left: 5px;
            padding: 5px 0;
        }
    }
}
// main content
.main-contetn {
    display: flex;
    justify-content: start;
    position: relative;
    top: 72px;
    // clear: both;
    .left-body {
        
        // position: fixed;
        // flex: 0 0 230px;
        background-color: #3c434a;
        // margin-bottom: -1px;
        min-width: 240px;
        max-width: 250px;

        height: 90vh;
        top: 55px;
        left: 0;
        overflow-y: scroll;
        clear: both;
        

        .left-body-menu {
            margin-left: 3px;
            ul {


                li {
                    
                    
                    a {

                        color: #fff;
                        font-size: 13px;
                        line-height: 1.4em;
                        padding: 15px 15px;
                        border-bottom: 1px solid rgba(255,255,255,.05);
                        display: block;
                        position: relative;
                        overflow: hidden;

                        i {

                            margin-right: 3px;
                        }
                    }
                    a.active {
                        background-color: #171a1d;
                    }
                    a.activeCM {
                        background-color: #171a1d;
                    }
                    a:hover {
                        background-color: #324e68;
                    }

                    a.dd-item::before {
                        content: "\f078";
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;

                        position: absolute;
                        top: 50%;
                        right: 10px;
                        margin-top: -8px;
                        color: rgba(255,255,255,.2);
                        font-size: 16px;
                        line-height: 16px;
                        display: block;

                    }
                    a.dd-item.active::before {
                        content: '\f077';
                    }
                    .m-item {
                        
                    }

                    ul {

                        li {

                            a {
                                
                                color: rgb(223, 85, 85);
                                font-size: 13px;
                                line-height: 1.4em;
                                padding: 15px 15px;
                                border-bottom: 1px solid rgba(255,255,255,.05);
                                display: block;
                                margin-left: 10px;
                                overflow: hidden;
                                
                            }
                            a.active {
                                background-color: #171a1d;
                            }
                            a::before {
                                content: "";
                                
                            }
                        }
                    }

                    .dropdwon {
                        height: 0;
                        overflow: hidden;
                    }
                    .dropdwon.active {
                        height: fit-content;
                    }

                }
            }
        }
        
    }

    .contetnt-body {
        padding-left: 15px;
        width: auto;

        .tab-pen {
            display: none;   
            margin-top: 20px;         
            
            h3 {
                text-align: center;
            }
            p {
                color: #000;
            }
        }
        .tab-pen.activeFP{
            display: inline-block;
        }
    }

}